@font-face {
    font-family: 'Takeaway Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/takeaway-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('Takeaway Sans Regular'),
    url('../fonts/takeaway-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/takeaway-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/takeaway-sans-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/takeaway-sans-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

* {
    font-family: 'Takeaway Sans Regular', 'Arial', sans-serif;
    font-size: 4rem;
    line-height: 1;
}

body {
    background-color: #ddd;
    height: 50rem;
    margin: 2rem;
    outline: 2px solid green;
    padding: 2rem;
    width: 100rem;
}

.row {
    display: flex;
    align-items: center;
}

.row:not(:last-child) {
    margin-bottom: 1.5rem;
}

.title {
    height: 5rem;
    outline: 1px dashed red;
}

.input-text {
    flex-grow: 1;
    margin-right: 1rem;
}

.input-text,
.btn-submit {
    height: 5rem;
}

.detector > div {
    font-size: 1.5rem;
}
